html {
  box-sizing: border-box;
  text-align: center;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div .btn,.btn-subtle,.btn-ghost,.btn-warning {
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.125rem;
  margin: 5px;
}

div .btn:hover {
  background-color: #000;
}

div .btn-subtle {
  background-color: #ccc;
}

div .btn-subtle:hover {
  background-color: #666;
}

div .btn-ghost {
  background-color: #fff;
  border: 3px solid #333;
  color: #333;
}

div .btn-ghost:hover {
  background-color: #666;
  border: 3px solid #666;
  color: #fff;
}

div .btn-warning {
  background-color: #f33;
}

div .btn-warning:hover {
  background-color: #933;
}

div .btn-small {
  font-size: .875rem;
}

div .btn-big {
  font-size: 1.5rem;
}
