html {
  box-sizing: border-box;
  text-align: center;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  text-align: center;
  padding: 0;
}

.btn, .btn-subtle, .btn-ghost, .btn-warning {
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: .4em .75em .3em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
  margin-top: 17px;
  border: 3px solid;
}

.btn {
  font-weight: bold;
  background-color: #333;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #333;
  border-color: #333;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
